.opcion-btn {
    margin: 3px 3px 3px 3px;
}
h2 {
    -webkit-transition: margin 0.2s;
    -moz-transition: margin 0.2s;
    margin-left: -10px;
    margin-top: 100px;
}
/*FONTS Y QUERIES DE PRINCIPAL*/

.slide-cap {
    color: #36BDC8;
    background-color: #322e2e;
    margin-bottom: 0px;
    font-size: 16px
}
.f-serv-main {
    text-align: center;
}
.f-desc-main {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}
/*FONTS Y QUERIES DE INDEX*/

.f-s, .f-min, .f-serv-main, .f-galeria {
    font-family: 'Julius Sans One', sans-serif;
}
.f-mn-ma, .f-desc-main {
    font-family: 'Vollkorn', serif;
}
.f-desc {
    font-family: 'Raleway', sans-serif;
}
.f-copyr {
    font-family: 'Tangerine', cursive;
    font-size: 40px;
}
a {
    font-weight: 400;
}
.f-servicios {
    text-align: center;
    font-family: 'Julius Sans One', sans-serif;
    font-weight: 700;
}
@media screen and (min-width: 992px) and (max-width: 1920px) {
    .f-serv-main {
        font-size: 20px;
        font-weight: 700;
    }
    .f-servicios {
        font-size: 20px;
    }
    .f-s, .f-min, .f-mn-ma {
        font-size: 18px;
    }
    .f-desc, .f-galeria {
        font-size: 16px;
        text-align: center;
    }
    .f-copyr {
        font-size: 30px;
    }
    .f-desc-main {
        font-size: 18px;
    }
    .size-servicios {
        height: 610px;
    }
    .f-galeria {
        font-size: 30px;
    }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
    .f-servicios {
        font-size: 18px;
    }
    .f-s {
        font-size: 14px;
    }
    .f-min {
        font-size: 16px;
        font-weight: bold;
    }
    .f-mn-ma {
        font-size: 14px;
    }
    .f-galeria {
        font-size: 25px;
    }
    .f-desc {
        font-size: 12px;
        font-weight: 400;
        text-align: center;
    }
    .f-copyr {
        font-size: 20px;
        font-weight: 700;
    }
    .row-min {
        margin-top: 20px;
    }
    .f-serv-main {
        font-size: 20px;
        font-weight: bold;
    }
    .f-desc-main {
        font-size: 18px;
    }
    .size-servicios {
        height: 580px;
    }
}
@media screen and (min-width: 512px) and (max-width: 768px) {
    .f-servicios {
        font-size: 18px;
    }
    .f-min {
        font-size: 14px;
        font-weight: bold;
    }
    .f-desc {
        font-size: 10px;
        font-weight: 400;
        text-align: center;
    }
    .row-min {
        margin-top: 20px;
    }
    .row-f-desc-col-2 {
        margin-left: 20px;
        margin-right: 20px;
    }
    .f-copyr {
        font-size: 20px;
        font-weight: 700;
    }
    .container {
        margin-left: 15px;
        margin-right: 15px;
    }
    .f-serv-main {
        font-size: 18px;
        font-weight: bold;
    }
    .f-desc-main {
        font-size: 14px;
    }
    .f-galeria {
        font-size: 20px;
    }
}
@media screen and (min-width: 331px) and (max-width: 512px) {
    .f-servicios {
        font-size: 18px;
    }
    .f-min {
        font-size: 14px;
        font-weight: bold;
    }
    .f-desc {
        font-size: 10px;
        font-weight: 400;
        text-align: center;
    }
    .row-min {
        margin-top: 20px;
    }
    .row-f-desc-col-2 {
        margin-left: 20px;
        margin-right: 20px;
    }
    .f-copyr {
        font-size: 20px;
        font-weight: 700;
    }
    .container {
        margin-left: 3%;
        margin-right: -9%;
    }
    .f-serv-main {
        font-size: 17px;
        font-weight: bold;
    }
    .f-desc-main {
        font-size: 12px;
    }
    .f-galeria {
        font-size: 16px;
    }
}
@media screen and (max-width: 331px) {
    .f-servicios {
        font-size: 16px;
    }
    .f-mn-ma {
        font-size: 22px;
    }
    .f-min {
        font-size: 12px;
        font-weight: bold;
    }
    .f-desc {
        font-size: 8px;
        font-weight: 400;
        text-align: center;
    }
    .row-min {
        margin-top: 20px;
    }
    .row-f-desc-col-2 {
        margin-left: 20px;
        margin-right: 20px;
    }
    .f-copyr {
        font-size: 20px;
        font-weight: 700;
    }
    .container {
        margin-left: 3%;
        margin-right: -50%;
    }
    .slide-cap {
        font-size: 12px;
    }
    .f-serv-main {
        font-size: 12px;
        font-weight: bold;
    }
    .f-desc-main {
        font-size: 10px;
    }
    .f-galeria {
        font-size: 14px;
    }
}
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    color: #23527C;
    background-color: rgba(238, 238, 238, 0.5);
}

/*divider*/

.divider {
    margin: 20px auto;
    width: 100%;
    height: 1px;
    background: rgb(255, 255, 255);
    /* Old browsers */
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(39, 94, 221, 1) 50%, rgba(255, 255, 255, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(39, 94, 221, 1) 50%, rgba(255, 255, 255, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(39, 94, 221, 1) 50%, rgba(255, 255, 255, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0);
    /* IE6-9 */
}