<div class="row">

    <div class="col-md-7" style="padding-left: 0px; padding-right: 0px; margin-bottom: 20px">
        <h3>Último Video | Latest Video</h3>
        <div class="portada div-imgm">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="860" height="515" src="https://www.youtube.com/embed/SFYIkS-FUZ8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    

    <div class="col-md-5">

        <h3 class="f-serv-main">
            ¿Sobre qué es nuestro  <font style="color: orange; ">último video</font>?
        </h3>
        <p class="f-desc-main">{{videoDescription}}</p>

        <div style="text-align: center;">
            <a target="_blank" href="https://www.youtube.com/user/dexcover?sub_confirmation=1" class="btn btn-default btn-lg"> 🌟 Suscríbete al canal de youtube aquí</a>
        </div>

        <div class="col-md-12 col-xs-12" style="padding-top: 20px;">
            <div class="f-desc well text-center" style="font-weight: 400; color: #fff; background-color: #31708f; ">
                Bienvenidos a todos l@s coders, aquí hablamos sobre el bello mundo de la programación. ¡Echale un vistazo!
            </div>
        </div>

    </div>
</div>

<div class="row visible-sm-block visible-md-block visible-lg-block" style="background-color: rgba(238, 238, 238, 0.8); padding-top: 3px; margin-bottom: 10px"></div>

<p class="f-copyr text-center">Las cosas buenas suceden aquellos que saben trabajar duro y nunca rendirse. att. Anónimo</p>

<div class="row visible-sm-block visible-md-block visible-lg-block" style="background-color: rgba(238, 238, 238, 0.8); padding-top: 3px; margin-bottom: 10px"></div>

<div class="row">
    <h3>Videos más populares</h3>

    <div class="col-md-4" style="margin-right: 0px;border-right-width: 0px;border-right-style: solid;padding-right: 33px;">
        <div class="row">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe src="https://www.youtube.com/embed/mqUH6pLjT70" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>

        <span class="f-desc"> Llamada de un método desde otra clase</span>
    </div>

    <div class="col-md-4" style="margin-right: 0px;border-right-width: 0px;border-right-style: solid;padding-right: 33px;">
        <div class="row">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe src="https://www.youtube.com/embed/FcRE4vAQiJM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>

        <span class="f-desc"> Llamada de un método con parámetros desde otra clase</span>
    </div>

    <div class="col-md-4" style="margin-right: 0px;border-right-width: 0px;border-right-style: solid;padding-right: 33px;">
        <div class="row">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe src="https://www.youtube.com/embed/r4XX7wZ2mNg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>

        <span class="f-desc"> POLINOMIOS CON LISTAS ENLAZADAS JAVA</span>
    </div>
</div>
<div class="row">
    <div class="col-md-4" style="margin-right: 0px;border-right-width: 0px;border-right-style: solid;padding-right: 33px;">
        <div class="row">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe src="https://www.youtube.com/embed/7uc9L54DOjY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>

        <span class="f-desc"> Enviar datos de un JFrame a otro JFrame</span>
    </div>

    <div class="col-md-4" style="margin-right: 0px;border-right-width: 0px;border-right-style: solid;padding-right: 33px;">
        <div class="row">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe src="https://www.youtube.com/embed/NnsB7XQ22lg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>

        <span class="f-desc"> C# Llamada de métodos desde otra clase</span>
    </div>

    <div class="col-md-4" style="margin-right: 0px;border-right-width: 0px;border-right-style: solid;padding-right: 33px;">
        <div class="row">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe src="https://www.youtube.com/embed/KI_8h1DScTQ" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>

        <span class="f-desc"> Ejercicio de Herencia en JAVA #1</span>
    </div>

</div>