<div class="row">

    <div class="col-md-7" style="padding-left: 0px; padding-right: 0px; margin-bottom: 20px">
        <h3 class="video-title" >Último Video | Latest Video</h3>
        <div class="portada div-imgm latestVideo">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe width="860" height="515" src="https://www.youtube.com/embed/SFYIkS-FUZ8" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    

    <div class="col-md-5">

        <h3 class="f-serv-main">
            ¿Sobre qué es nuestro  <font style="color: orange; ">último video</font>?
        </h3>
        <p class="f-desc-main">{{videoDescription}}</p>

        <div style="text-align: center;">
            <a target="_blank" href="https://www.youtube.com/user/dexcover?sub_confirmation=1" class="btn btn-default btn-lg"> 🌟 Suscríbete al canal de youtube aquí</a>
        </div>

        <div class="col-md-12 col-xs-12" style="padding-top: 20px;">
            <div class="f-desc well text-center" style="font-weight: 400; color: #fff; background-color: #31708f; ">
                Bienvenidos a todos l@s coders, aquí hablamos sobre el bello mundo de la programación. ¡Echale un vistazo!
            </div>
        </div>

    </div>
</div>

<div class="row visible-sm-block visible-md-block visible-lg-block" style="background-color: rgba(238, 238, 238, 0.8); padding-top: 3px; margin-bottom: 10px"></div>

<p class="f-copyr text-center">Las cosas buenas suceden aquellos que saben trabajar duro y nunca rendirse. att. Anónimo</p>